.home {
    /* border: 1px solid red; */
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
}

.left_side_div {
    /* border: 1px solid red; */
    width: 30%;
    /* background-color: #ffffff; */
}

.mid_div {
    width: 40%;
    /* border: 1px solid red; */
    overflow: hidden;
}

.right_side_div {
    width: 30%;
    /* border: 1px solid red; */
}



/* login */

.google_login {
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    box-sizing: border-box;
}

.g_login_img {
    width: 80%;
    /* margin: auto; */
    margin-left: 10%;
    /* border: 1px solid darkblue; */
}

.user_form {
    /* border: 1px solid burlywood;
    width: 33%;
    margin: auto;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 10px; */
    color: black;
}

/* medai queries */

@media (max-width: 900px) {


    .right_side_div {
        display: none;
    }

    .mid_div {
        width: 65%;
    }
}

@media (max-width: 800px) {
    .left_side_div {
        display: none;
    }

    .right_side_div {
        display: none;
    }

    .mid_div {
        width: 100%;
    }
}